/*여백 초기화-기본적으로 세팅되는 마진과 패딩 값이 잇기 때문*/
* {
    margin: 0;
    padding: 0;
}
.clearfix::before, .clearfix::after{
    display: block;
    content: ''; /*가상요소를 넣어줄 컨텐츠 영역*/
    clear: both;
}
/*레이아웃 부분*/
#wrap {
    width: 1200px;
    height: 500px;
    background: #ccc;
    margin: 0 auto;/*위아래는 0 양쪽으로는 auto (상 우 하 좌)*/
}


#header {
    text-align: center;
}
#header .logo {
    float: left;
    width: 250px;
    height: 100px;
    background-color: #888;
}
#header .nav {
    float: left;
    width: 950px;
    height: 100px;
    background-color: #777;
}


#banner {
    width: 1200px;
    height: 300px;
    background-color: #666;
}


#contents {
    text-align: center;
}
#contents .cont1 {
    float: left;
    width: 400px;
    height: 200px;
    background-color: #555;
}
#contents .cont2 {
    float: left;
    width: 400px;
    height: 200px;
    background-color: #444;
}  
#contents .cont3 {
    float: left;
    width: 400px;
    height: 200px;
    background-color: #333;
}


#footer {
    text-align: center;
}
#footer>div.foot1 {
    float: left;
    width: 200px;
    height: 100px;
    background-color: #222;
}
#footer>div.foot2 {
    float: left;
    width: 800px;
    height: 100px;
    background-color: #111;
}
#footer>div.foot3 {
    float: left;
    width: 200px;
    height: 100px;
    background-color: #000;
}